@import "http://fonts.googleapis.com/css?family=Ubuntu";

body {
    background-color: #2F2F2F;
    color: #ffffff;
    text-align: center;
}

ul {
    list-style-type: none;
}

div#main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;

}

div#form_guest_book {
    text-align: center;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0 50px 15px;
    margin-top: 20px;
    box-shadow: 0 0 15px;
    border-radius: 6px;
    float: left
}

div#left_side {
    float: left;
    width: 45%;
}

div#right_side {
    float: right;
    width: 50%;
    max-height: 600px;
    overflow: auto;
    margin: 10px;
}

#main h1 {
    margin-top: 40px
}

hr {
    margin-top: -5px
}

label {
    float: left;
    font-size: 16px
}

input[type="text"] {
    width: 100%;
    margin-top: 10px;
    height: 35px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid #2BC1F2
}

textarea {
    width: 100%;
    border: 3px solid #2BC1F2;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 150px;
    resize: none
}

input[type="button"] {

    padding: 10px;
    background-color: #2BC1F2;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif
}

#right_side li {
    width: 80%;
    border: 3px solid #2BC1F2;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 150px;
    resize: none;
    background: white;
    color: #2F2F2F;
    overflow: auto;
}
#success {
    display: none;
    width: 100%;
    margin-top: 10px;
    height: 35px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid #2BC1F2;
    background:lightseagreen;
}
#failed {
    display: none;
    width: 100%;
    margin-top: 10px;
    height: fit-content;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid #2BC1F2;
    background:indianred;
}
