{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>GuestBook</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/form.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/js/form.js' %}"></script>
</head>
<body>
<div id="main">
    <div id="success">Review Successfully Added</div>
    <div id="failed"></div>
    <h1>GUESTBOOK</h1>
    <div id="form_guest_book">
        <div id="left_side">
            <form id="guest_form">
                <ul>
                    <li>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name">
                    </li>
                    <li>
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject">
                    </li>
                    <li>
                        <label for="msg">Message:</label>
                        <textarea id="message" name="message"></textarea>
                    </li>
                    <li class="button">
                        <input type="button" value="Send" id="btn_send"/>
                    </li>
                </ul>
            </form>
        </div>
        <div id="right_side">
            <ul id="reviews"/>
        </div>
    </div>
</div>
</body>
</html>